body {
  max-width: 1440px;
  margin: auto;
  font-family: "Barlow", sans-serif;
}

button {
  outline: none;
  border: none;
}

@media (min-width: 300px) and (max-width: 650px) {
  .mx-10 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
